{:paths ["src"]
 :deps {io.pedestal/pedestal.service {:mvn/version "0.6.1"}
        io.pedestal/pedestal.route   {:mvn/version "0.6.1"}
        io.pedestal/pedestal.jetty   {:mvn/version "0.6.1"}
        org.slf4j/slf4j-simple {:mvn/version "1.7.28"}
        middlesphere/clj-compress {:mvn/version "0.1.0"}}}
